.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.05);
    border: none;
  }
  
  .card-header {
    font-size: 1.25rem;
    padding: 1.25rem;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .btn {
    min-width: 120px;
  }
  
  .bg-light {
    background-color: #f9f9f9 !important;
  }
  