<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap & Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

</head>
<body>
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Reset Password</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

              <!-- Nouveau mot de passe -->
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="bi bi-lock p-2"></span>
                  <input type="password" formControlName="password" placeholder="Nouveau mot de passe" class="form-control">
                </div>
                <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.invalid" class="text-danger">
                  Le mot de passe est requis.
                </div>
              </div>

              <!-- Confirmation mot de passe -->
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="bi bi-lock-fill p-2"></span>
                  <input type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" class="form-control">
                </div>
                <div *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.invalid" class="text-danger">
                  La confirmation est requise.
                </div>
              </div>

              <!-- Mots de passe différents -->
              <div *ngIf="passwordsDontMatch()" class="text-danger">
                Les mots de passe ne correspondent pas.
              </div>

              <!-- Bouton -->
              <button type="submit" class="btn btn-primary w-100 mt-3" >
                Réinitialiser le mot de passe
              </button>

              <!-- Lien vers login -->
              <div class="text-center pt-4 text-muted">
                Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
