<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_contact">
          <h4>
            Atteindre à
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  1, Pôle Technologique, 2 Rue André Ampère، Ariana 2083
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                  +216 29 096 179
                </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                  dewini@esprit.tn
                </span>
            </a>
          </div>
        </div>
        <div class="footer_social">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_detail">
          <h4>
            À propos de nous
          </h4>
          <p>
            Dewini, conçue pour simplifier la gestion des établissements de santé grâce à des outils intégrés et sécurisés. Notre solution centralise les opérations médicales courantes, optimise les workflows et améliore l'expérience des patients comme du personnel.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2 mx-auto footer_col">
        <div class="footer_link_box">
          <h4>
            Links
          </h4>
          <div class="footer_links">
            <a class="nav-link" routerLink="/home">Acceuil</a>
            <a class="nav-link" routerLink="/listUrgences">Urgences</a>
            <a class="nav-link" routerLink="doctors.html">Docteurs</a>
            <a class="nav-link" routerLink="contact.html">Se Connecter</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer_col ">
        <h4>
          Nouveau ?
        </h4>
        <button class="btn btn-info" type="submit">
          S'Abonner
        </button>
      </div>
    </div>
    <!--
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates<br><br></a>
        &copy; <span id="displayYear"></span> Distributed By
        <a href="https://themewagon.com/">ThemeWagon</a>
      </p>

    </div>-->
  </div>
</footer>
