<div class="dashboard-container">
  <div class="dashboard-card">
    <h1 class="dashboard-title">Urgences En Temps Réel</h1>
    <div id="map"></div>
    <div class="heatmap-legend">
      <h2 class="legend-title">Carte Thérmique</h2>
      <div class="legend-items">
        <div class="legend-item">
          <span class="legend-color low"></span>
          <span class="legend-label">Faible</span>
        </div>
        <div class="legend-item">
          <span class="legend-color medium"></span>
          <span class="legend-label">Moyenne</span>
        </div>
        <div class="legend-item">
          <span class="legend-color high"></span>
          <span class="legend-label">Elevée</span>
        </div>
        <div class="legend-item">
          <span class="legend-color very-high"></span>
          <span class="legend-label">Très Elevée</span>
        </div>
        <div class="legend-item">
          <span class="legend-color extreme"></span>
          <span class="legend-label">Extréme</span>
        </div>
      </div>
    </div>
  </div>
</div>
